.container{
    width: 1400px;
    font-family: "Helvetica Neue";
}

/*Menu*/

.menu{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

ul{
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: white;
}

li a:hover{
    color: #f6bc42;
}

li{
    margin-top: 10px;
}

.image-icon{
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: #f6bc42;
    border-radius: 50px;
}

.image-icon img{
    margin-top: 20px;
}

/*header*/

.header{
    text-align: center;
    padding: 50px;
}

.header h1{
    text-transform: uppercase;
    color: white;
}

.header p{
    color: #f6bc42;
    text-transform: uppercase;
}

.header-conten{
    height: 450px;
    background-image: url("../img/prove-bg.png");
    background-size: cover;
    position: absolute;
}

/*news*/

.news{
    padding-top: 350px;
    height: 500px;
}

.news-gl{
    position: relative;
    margin: 0 auto;
    width: 900px;
    border-top: 20px solid #f6bc42;
    box-shadow: 2px 2px 3px;
}

.news-img{
    width: 60%;
    height: 60%;
}

.news-img2{
    width: 40%;
    height: 40%;
}

.img-text{
    background-color: white;
    display: flex;
}

.text h3{
    text-transform: uppercase;
}

.text p{
    color: #8e8e8e;
}

.text{
    margin: 25px;
}

.btn{
    width: 120px;
    height: 40px;
    background-color: #f6bc42;
    border-radius: 5px;
}

/*footer*/

.ft{
    height: 50px;
    background-color: #f6bc42;
    text-align: center;
}

.ft p{
    padding-top: 10px;
}

/*project*/

.project{
    height: 470px;
    display: flex;
    padding-top: 350px;
    text-align: center;
}

.project-gl{
    height: 400px;
    padding: 20px;
    position: relative;
    background-color: white;
    margin: 0 auto;
    width: 900px;
    border-top: 20px solid #f6bc42;
    box-shadow: 2px 2px 3px;
}

.project-img{
    padding: 10px;
    width: 200px;
}

/*featured*/

.featured{
    height: 470px;
    display: flex;
    padding-top: 350px;
    text-align: center;
}

.featured-gl{
    display: flex;
    height: 400px;
    padding: 20px;
    position: relative;
    background-color: white;
    margin: 0 auto;
    width: 900px;
    border-top: 20px solid #f6bc42;
    box-shadow: 2px 2px 3px;
}

.featured-gl img{
    width: 60%;
}

.featured-gl .text{
    text-align: left;
}

.text span{
    color: #f6bc42;
}

/*contact*/

.contact{
    height: 305px;

    padding-top: 350px;
    text-align: center;
}

.contact-gl{
    display: flex;
    height: 250px;
    padding: 20px;
    position: relative;
    background-color: white;
    margin: 0 auto;
    width: 900px;
    border-top: 20px solid #f6bc42;
    box-shadow: 2px 2px 3px;
}

.contact-gl .text{
    width: 250px;
}

.formu{
    margin: 5px;
    width: 255px;
    height: 30px;
    background-color: #f4f4f4;
    border: none;
}

textarea{
    background-color: #f4f4f4;
    border: none;
    width: 550px;
}

.formulage{
    padding-top: 5px;
    width: 560px;
    display: flex;
}

/*RWD*/

.nav-rs ul{
    display: table-cell;
}
/*najwieksza rozdzielczosc laptopów*/
@media only screen and (max-width: 1800px) {
    .nav-rs{ display: none}


}

/*średni telefon lub IPad*/
@media only screen and (max-width: 680px) {
    .container {width: 500px;}
    .menu{ display: none;}
    .nav-rs {display: block}
    .news { width: 450px;height: 625px;padding-top: 230px}
    .news-gl{float: left; width: 450px; height: 480px}
    .project{ width: 450px; height: 100%; padding-top: 230px}
    .project-gl {height: 100%}
    .project-conten{ height: 100%}
    .featured{ height:250px;padding-top: 230px}
    .featured-gl{ height: 100%;}
    .contact{padding-top: 230px}
    .contact-gl{ width: 450px}
    .formulage { display: none}
    .contact-gl .text { display: none}
    .img-text {display: block}
    .news-img{ width: 100%}
    .news-img2{ display: none}
    .header-conten{ height: 250px;}
    .img3 {display: none}

}



